*{
    margin: 0px;
    padding: 0px;  
    
}


.bg-img{
background-image: url(assest/hero-16.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
}

.header-section{
    
    width: 100%;
}
.left-side{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
 
/*    background-color: aqua;*/
    margin:100px 0px;
}
.left-side h1{
    color: white;
    font-weight: 900;
    text-transform: capitalize;
 
}
.left-side p{
    color: white;
    font-weight: 500;
    font-family: cursive;
 padding: 30px 20px;     

}
.social-headers-buttons{
  margin: 50px 10px
}

.social-headers-buttons img{
    width: 30%;
}

.right-side-header{
/*  background-color: red;*/
    width: 100%;
    
}
.right-side-header img{
    width: 80%;
    display: block;margin: 0 auto;
    margin-top: 15%;
}

.next-app-section{
    margin:50px 50px;
 

    
}
.next-app-section h1{
 font-family: monospace;
    font-weight: 600;
    font-size: 40px;
    text-transform: capitalize;

}

.box-info h1{
    font-size: 25px;
    margin: 20px 15px
}
.box-info p{
    padding: 0px 20px;
 text-justify:inherit
    font-family: cursive;
}



.box img{
    display: inline-block;
    margin: 0 auto;
    width: 60px;
    text-align: center;
    margin-top: 60px;
  
   
}

/*productivity section css*/

.productivity{
   background-color: lightgray;
    height: 100vh;
    width: 100%;
}
.img-section{
 padding: 50px 50px;
}

.img-section img{
    width: 80%;
}



.productivity-right-side p{
    margin-top: 150px;
    text-transform: uppercase;
    font-weight: 600;
    color: grey
}
.productivity-right-side h1{
    padding: 0px 250px 0px 0px;
    font-size: 34px;
    font-weight: 600;
}

.productivity-right-side ul li{
    margin: 10px 0px;
 
}


.changing-content{
    width: 100%;
    height: 100vh;
}
.all-block{
margin: 120px 0px

}

.block-section{
    margin: 50px 0px;
    cursor:pointer;
}





.block-section a{
    text-decoration: none;
    color: black;
   
    
}

.block-section h5{
    font-weight: 700;
    color:darkslategrey;
    
}








.main-box{
    margin: 20px 0px;
}

.option-right-side-img img{

width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 15%;
}


/*coundown section css start*/

.coundown-section{
    width: 100%;
    height: 80vh;
}

.bg-coundown{
background-image: url(assest/bg-graph.jpg);
    height: 90%;
}


.main-coundown{
display: flex;
    justify-content: space-around;
}

.coundown-middle-section{
    width: 100%;
    margin: 5% 0%;
}

.coundown-middle-section h1{
    color: white;
    font-weight: 700;
    font-size: 45px;
    text-transform: capitalize;

}
.coundown-middle-section p{
  padding: 15px 120px;
    color: white;
    font-weight: 600;
}


.main-coundown{
margin-top: -50px;
}

.main-coundown h1{
    color: white;
    font-weight: 700;
    font-size: 60px;
}
.main-coundown p{
color: white;
    font-weight: 600;
}

/*coundown section css end*/















@media only screen and (max-width: 500px) {
   
    .right-side-header img{
        display: none;
    }   
    
}
    


